<!-- about -->
<section class="section">
  <div class="container">
    <div class="row spaced-cols">
      <div class="col-lg-6 mx-auto">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb | markdownify }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn-sm btn-primary">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
      <div class="col-lg-6 mx-auto text-center">
        <div style="max-width: 400px;">
          <img src="/assets/images/logo.jpg" width="300" class="img-fluid" alt="Beagle@work logo" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /about -->